#star-widget {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 10px;
}

.star-rating .fa-star {
  font-size: 2rem;
  cursor: pointer;
  color: #ddd;
}

.star-rating .fa-star.checked {
  color: gold;
}
