<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>¡Barato, Barato! | Admin Puja</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>


<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="container flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Administración Puja</h1>
        </div>
        <div class="container">
            <table width="100%">
                <thead>
                    <tr>
                        <th>Id User</th>
                        <th>Id Subasta</th>
                        <th>Dinero pujado</th>
                        <th>Puntuacion</th>
                        <th>Fecha</th>
                        <th>Comentario</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p : ${pujas}">
                        <td th:text="${p.usuarioId}"></td>
                        <td th:text="${p.subastaId}"></td>
                        <td th:text="${p.dineroPujado}"></td>
                        <td th:text="${p.puntuacion}"></td>
                        <td th:text="${p.fecha}"></td>
                        <td th:text="${p.comentario}"></td>
                        <td>
                            <button type="button" class="btn btn-warning btn-sm"
                            data-bs-toggle="modal"
                            data-bs-target="#modalModificarSubasta"
                            th:data-id-user="${p.usuarioId}"
                            th:data-id-subasta="${p.subastaId}"
                            th:data-fecha="${p.fecha}"
                            th:data-puntuacion="${p.puntuacion}"
                            th:data-comentario="${p.comentario}"
                            th:data-dinero="${p.dineroPujado}">
                            Modificar
                        </button>
                        </td>
                        <td>
                            <form th:action="@{'/admin/puja/delete/' + ${p.usuarioId}}" th:method="post" 
                                  onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta puja?');">
                                <button type="submit" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="modal fade" id="modalModificarSubasta" tabindex="-1"
                aria-labelledby="modalModificarSubastaLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="modalModificarSubastaLabel">Modificar Subasta</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form th:action="@{/admin/puja/update}" method="post">
                                <!-- Campo oculto para ID de la puja -->
                                <input type="hidden" id="pujaId" name="usuarioId">
                                <input type="hidden" id="subastaId" name="subastaId">

                                <div class="mb-3">
                                    <label class="form-label" for="fecha">Fecha</label>
                                    <input class="form-control" id="fecha" name="fecha" type="datetime-local" readonly disabled>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="puntuacion">Puntuación</label>
                                    <input class="form-control" id="puntuacion" name="puntuacion" type="number" readonly disabled>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="comentario">Comentario</label>
                                    <textarea class="form-control" id="comentario" name="comentario" required></textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="dineroPujado">Dinero Pujado</label>
                                    <input class="form-control" id="dineroPujado" name="dineroPujado" type="number" min="0" readonly disabled>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let modal = document.getElementById("modalModificarSubasta");
    
        modal.addEventListener("show.bs.modal", function(event) {
            const button = event.relatedTarget;
            document.getElementById("pujaId").value =  button.getAttribute("data-id-user");
            document.getElementById("subastaId").value = button.getAttribute("data-id-subasta");
            document.getElementById("fecha").value = button.getAttribute("data-fecha");
            document.getElementById("puntuacion").value = button.getAttribute("data-puntuacion");
            document.getElementById("comentario").value = button.getAttribute("data-comentario");
            document.getElementById("dineroPujado").value = button.getAttribute("data-dinero");
        });
    });
    </script>
</html>
