<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="fragments/head :: header" />
    <link rel="stylesheet" th:href="@{/css/historical.css}">
</head>

<body class="d-flex flex-column h-100">
<header th:replace="fragments/nav.html :: nav"></header>

<h1>Historial de Subastas</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID Subasta</th>
            <th>Objeto Subastado</th>
            <th>Imagen</th>
            <th>Precio Final</th>
            <th>Ganador</th>
            <th>Fecha de Cierre</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="bid : ${historicalBids}">
            <td th:text="${bid.id}"></td>
            <td th:text="${bid.nombreProducto}"></td>
            <td><img th:src="@{${bid.imagenUrl}}" alt="Imagen del objeto" width="50" height="50"></td>
            <td th:text="${bid.precio}"></td>
            <td th:text="${bid.usuario}"></td>
            <td th:text="${bid.fecha}"></td>
        </tr>
    </tbody>
</table>

<th:block th:replace="fragments/footer.html :: footer" />
</body>
</html>