<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">



<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Inicio | ¡Barato Barato!</title>

</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Bienvenid@ </h1>
            <h2>¡Barato Barato! es una casa de subastas comprometida con ofrecerte una amplia variedad
                de reliquias, objetos de coleccionista y auténticas gangas que se pujan en tiempo real. Puedes unirte a la subasta que 
                más de interese y pujar el precio que veas adecuado, o simplemente participar como espectador. Además, tenemos un chat
                habilitado para que puedas preguntar cualquier duda que te surja al vendedor.
            </h2>
            <img th:src="@{/img/BARATO.png}" src="/img/BARATO.png" alt="logo BB" width="500" height="500" style="display: block; margin: 20px auto;"> 
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>