<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Detalle del Producto | ¡Barato Barato!</title>
    <link rel="stylesheet" th:href="@{/css/chatvendedor.css}">
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0 text-center text-uppercase" th:text="${producto.nombre}">Reloj Vintage</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img th:if="${pictureNames.size == 0}" th:src="@{/products/{id}/pic(id=${producto.id})}"
                            width="500" height="500" class="img-fluid rounded" alt="Producto">
                        <div class="scrollable-pics">

                            <th:block th:unless="${pictureNames.size == 0}" th:each="picName : ${pictureNames}">
                                <img th:src="'/products/' + ${producto.id} + '/' + ${picName}" width="500" height="500"
                                    class="img-fluid rounded" alt="Producto">
                                <hr class="border border-primary border-3 opacity-75">
                            </th:block>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-muted">Descripción</h5>
                        <p th:text="${producto.descripcion}">Descripción del producto.</p>

                        <h5 class="text-muted">Precio</h5>
                        <p class="fs-4 text-success fw-bold mb-3">
                            Inicial: <span th:text="'€' + ${producto.precio}">€0.00</span>
                        </p>
                        <p class="fs-4 text-success fw-bold">
                            Actual: <span id="precio-actual" th:text="'€' + ${producto.precioActual}">€0.00</span>
                        </p>

                        <h5 class="text-muted">Estado de la puja</h5>
                        <p id="estado-producto" class="fs-4 fw-bold" th:text="${estado}"
                            th:classappend="${producto.enabled} ? 'text-success' : 'text-danger'">
                        </p>

                        <h5 class="text-muted">Mejor postor</h5>
                        <p id="mejor-postor" class="fs-4 fw-bold"
                            th:text="${producto.maximoPujador} ?: 'Sin pujas aún'">Sin pujas aún</p>

                        <div th:if="${producto.comentarioGanador != null AND !producto.enabled}">
                            <h5 class="text-muted mt-4">Comentario del ganador</h5>
                            <p th:text="${producto.comentarioGanador}">Este es el comentario del ganador.</p>
                            <p><strong>Valoración:</strong> <span th:text="${producto.valoracionGanador}">5</span>/5</p>
                        </div>
                        <!-- Chat con el vendedor -->
                        <p class="fs-3" th:if="${isGanador} or ${producto.enabled}"> Chat con el vendedor
                            <a class="text-decoration-none text-primary"
                                th:href="@{|/chat?userChatNew=${producto.creadorUsername}|} "><i
                                    class="bi bi-chat-dots-fill"></i></a>
                        </p>

                        <div th:if="${producto.enabled}">
                            <form id="formPujar">
                                <input type="hidden" name="_csrf" value="${_csrf.token}">
                                <div class="mb-3">
                                    <label for="nuevaPuja" class="form-label">Tu Puja</label>
                                    <input type="number" th:value="${producto.precioActual}" class="form-control"
                                        id="nuevaPuja" name="puja" step="1.00" min="0" required>
                                </div>
                                <button type="submit" class="btn btn-success">Pujar</button>
                                <button type="button" class="btn btn-outline-primary fw-bolder"
                                    onclick="subirPuja(1)">+1 €</button>
                                <button type="button" class="btn btn-outline-primary fw-bolder"
                                    onclick="subirPuja(5)">+5 €</button>
                                <button type="button" class="btn btn-outline-primary fw-bolder"
                                    onclick="subirPuja(50)">+50 €</button>
                                <button type="button" class="btn btn-outline-primary fw-bolder"
                                    onclick="subirPuja(100)">+100 €</button>
                            </form>
                        </div>
                        <div id="mensaje-puja" class="mt-3"></div>
                    </div>
                    <div th:if="${canAddComment}" class="mt-5">
                        <h5 class="text-muted">Deja un comentario y valoración</h5>
                        <form th:action="@{/products/{id}/comentar(id=${producto.id})}" method="post">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

                            <div class="mb-3">
                                <label for="comentario" class="form-label">Comentario</label>
                                <textarea class="form-control" id="comentario" name="comentario" rows="3" required
                                    th:text="${producto.comentarioGanador} ?: ''"></textarea>
                            </div>

                            <div class="mb-3">
                                <label for="valoracion" class="form-label">Valoración (1-5)</label>
                                <input type="number" class="form-control" id="valoracion" name="valoracion" min="1"
                                    max="5" required th:value="${producto.valoracionGanador} ?: ''">
                            </div>

                            <button type="submit" class="btn btn-success">Enviar valoración</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>



    <script>
        const productoId = window.location.pathname.split("/").pop();

        function sendPuja () {
            const estadoProducto = document.getElementById("estado-producto")
            if (estadoProducto.innerText.includes("Finalizada") || estadoProducto.innerText.includes("Cancelada"))
                return;
            const form = document.getElementById("formPujar");
            const input = document.getElementById("nuevaPuja");
            const mensajePuja = document.getElementById("mensaje-puja");
            const csrfToken = document.querySelector('input[name="_csrf"]').value;

            form.addEventListener("submit", function (event) {
                event.preventDefault();

                const valorPuja = parseFloat(input.value);
                if (isNaN(valorPuja) || valorPuja <= 0) {
                    mensajePuja.innerText = "Introduce una puja válida";
                    mensajePuja.className = "text-danger";
                    return;
                }

                fetch(`/products/${productoId}/pujar`, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "X-CSRF-TOKEN": csrfToken
                    },
                    body: `puja=${encodeURIComponent(valorPuja)}`
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error en la respuesta del servidor");
                        }
                        return response.json();
                    })
                    .then(data => {
                        mensajePuja.innerText = "¡Puja realizada con éxito!";
                        mensajePuja.className = "text-success";

                        const saldoUsuario = document.getElementById("saldo-usuario");
                        if (saldoUsuario) {
                            saldoUsuario.textContent = 'Saldo: €' + data.availableMoney;
                        }
                    }).catch(err => {
                        console.error("Error al pujar:", err);
                        mensajePuja.innerText = "No tienes dinero suficiente";
                        mensajePuja.className = "text-danger";
                    });
            });
        }

        function suscribirmeProductoConIntervalo () {
            const intervalo = setInterval(() => {
                if (ws.stompClient && ws.stompClient.connected) {
                    ws.stompClient.subscribe("/topic/product-updates/" + productoId, function (message) {
                        console.log("Mensaje recibido:", message);
                        try {
                            const data = JSON.parse(message.body);
                            console.log("Mejor postor:", data.maximoPujador);
                            console.log("Mejor oferta:", data.precioActual);

                            // Actualizar datos
                            const precioActualElem = document.getElementById("precio-actual");
                            if (precioActualElem) {
                                precioActualElem.textContent = '€' + data.precioActual;
                            }
                            const mejorPostorElem = document.getElementById("mejor-postor");
                            if (mejorPostorElem) {
                                mejorPostorElem.textContent = data.maximoPujador || 'Sin pujas aún';
                            }
                        }
                        catch (error) {
                            console.error("Error al parsear el mensaje:", error);
                        }
                        //location.reload();  // Recarga la página actual
                    });
                    clearInterval(intervalo); // Deja de intentar una vez suscrito
                }
            }, 1000);
        }

        document.addEventListener("DOMContentLoaded", function () {
            suscribirmeProductoConIntervalo();
            sendPuja();
        });
    </script>

    <th:block th:replace="~{fragments/footer.html :: footer}" />

    <script th:src="@{/js/productdetail.js}"></script>
</body>

</html>