<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Detalle del Producto | ¡Barato Barato!</title>
    <link rel="stylesheet" th:href="@{/css/chatvendedor.css}">

</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="container py-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0 text-center text-uppercase" th:text="${producto.nombre}">Reloj Vintage</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <img th:src="@{/img/reloj.jpeg}" class="img-fluid rounded" alt="Producto">
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-muted">Descripción</h5>
                        <p th:text="${producto.descripcion}">Descripción del producto.</p>
                        <h5 class="text-muted">Precio inicial</h5>
                        <p class="fs-4 text-success fw-bold" th:text="'€' + ${producto.precio}">€0.00</p>
                        
                        <h5 class="text-muted">Precio actual</h5>
                        <p id="precio-actual" class="fs-4 text-success fw-bold" th:text="'€' + ${producto.precioActual}">€0.00
                        </p>
                        <!-- Chat con el vendedor -->
                         <p class="fs-3"> Chat con el vendedor 
                             <a class="text-decoration-none text-primary" th:href="@{|/chat?userChatNew=${producto.creadorUsername}|} "><i class="bi bi-chat-dots-fill"></i></a>
                         </p>

                        <form id="formPujar" th:action="@{'/products/' + ${producto.id} +'/pujar'}" th:method="post">

                            <div class="mb-3">
                                <!-- <p th:text="${producto.id}"></p> -->
                                <label for="nuevaPuja" class="form-label">Tu Puja</label>
                                <input th:value="${producto.precioActual}" type="number" class="form-control" id="nuevaPuja" name="puja" step="1.00" min="0"
                                    required>
                            </div>
                            <button type="submit" class="btn btn-success">Pujar</button>
                            <button type="button" class="btn btn-outline-primary fw-bolder" onclick="subirPuja(1)">+1 €</button>
                            <button type="button" class="btn btn-outline-primary fw-bolder" onclick="subirPuja(5)">+5 €</button>
                            <button type="button" class="btn btn-outline-primary fw-bolder" onclick="subirPuja(50)">+50 €</button>
                            <button type="button" class="btn btn-outline-primary fw-bolder" onclick="subirPuja(100)">+100 €</button>
                        </form>


                        <div id="mensaje-puja" class="mt-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script th:src="@{/js/productdetail.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>