<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/head :: header}" />
    <title>Registro | ¡Barato,Barato!</title>
    <link rel="stylesheet" th:href="@{/css/signup.css}">
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="~{fragments/nav.html :: nav}"></header>

    <main class="flex-shrink-0">
        <div class="container">
            <form class="form-signup" method="post" th:action="@{/signup}">
                <h2 class="form-signup-heading">Registrarse</h2>
                <p th:if="${signupError != false}" class="error">
                    <!-- Error en nombre de usuario o contraseña -->
                </p>
                <p th:if="${existingUsername != null}" th:text="${existingUsername}" class="error">Error </p>
                <div class="form-floating mb-3">
                    <input type="text" id="first_name" name="first_name" class="form-control" placeholder="Nombre"
                        required="required">
                    <label for="first_name" class="text-dark">Nombre</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Apellido(s)"
                        required="required">
                    <label for="last_name" class="text-dark">Apellido(s)</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="delivery_address" name="delivery_address" class="form-control"
                        placeholder="C/ Mirador de Montepinar 7" required="required">
                    <label for="delivery_address" class="text-dark">Dirección de entrega</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" id="username" name="username" class="form-control" placeholder="Usuario"
                        required="required">
                    <label for="username" class="text-dark">Usuario</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña"
                        required="required">
                    <label for="password" class="text-dark">Contraseña</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
            </form>
        </div>
    </main>

    <th:block th:replace="~{fragments/footer.html :: footer}" />
</body>

</html>