<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Adivina!</title>
    <div th:replace="~{/fragments/head :: head}"></div>
    <link rel="stylesheet" th:href="@{/css/adivina.css}">
    
</head>

    <nav th:insert="~{/fragments/navbar :: navbar}"></nav>

<body>
    <div class="container py-5">

        
        <div class="alert alert-primary text-center" role="alert">
            <span th:text="${resultado}">Aquí lo que dice el servidor</span>
        </div>

        <div class="card text-center border-black text-bg-light mt-4">
            <div class="card-header text-bg-primary">
                <p class="h1 text-center">¡Intenta adivinarlo!</p>
            </div>
            <div class="card-body">
                <form class="d-flex justify-content-center">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button type="submit" name="entero" value="0" class="btn btn-outline-info">0</button>
                        <button type="submit" name="entero" value="1" class="btn btn-outline-info">1</button>
                        <button type="submit" name="entero" value="2" class="btn btn-outline-info">2</button>
                        <button type="submit" name="entero" value="3" class="btn btn-outline-info">3</button>
                        <button type="submit" name="entero" value="4" class="btn btn-outline-info">4</button>
                        <button type="submit" name="entero" value="5" class="btn btn-outline-info">5</button>
                        <button type="submit" name="entero" value="6" class="btn btn-outline-info">6</button>
                        <button type="submit" name="entero" value="7" class="btn btn-outline-info">7</button>
                        <button type="submit" name="entero" value="8" class="btn btn-outline-info">8</button>
                        <button type="submit" name="entero" value="9" class="btn btn-outline-info">9</button>
                        <button type="submit" name="entero" value="10" class="btn btn-outline-info">10</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-body-secondary text-bg-primary">
                <h3>
                    <small class="text-body-secondary">¡A jugar!</small>
                  </h3>
            </div>
          </div>

    
    </div>
    <footer th:insert="~{/fragments/footer :: footer}"></footer>
    <div th:replace="~{/fragments/scripts :: scripts}"></div>

   
</body>

</html>
