<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <div th:insert="~{/fragments/head :: head}"></div>
    <link rel="stylesheet" th:href="@{/css/welcome.css}">
  </head>
  <body>
    <nav th:insert="~{/fragments/navbar :: navbar}"></nav>
    
      <div class="container"> 
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h1 class="text-center">¡Adivina el Número!</h1>
  
            <h4 class="text-center">Objetivo del Juego</h4>
            <p class="text-center">El objetivo es adivinar el número secreto seleccionado por el sistema entre las opciones disponibles.</p>
            
            <h4 class="text-center">Cómo Jugar</h4>
            <p class="text-center">
                Elige un número entre las opciones mostradas en pantalla.<br>
                ¡El sistema te dirá si el número que seleccionaste es <i>mayor</i>, <i>menor</i>, o si <i>has acertado</i>!<br>
                ¡Sigue intentando hasta encontrar el número correcto!
            </p>
            
            <h4 class="text-center">Opciones Seleccionables</h4>
            <p class="text-center">El juego mostrará un rango de números del <b>0</b> al <b>10</b>.</p>
          
            <div class="d-flex justify-content-center">
            <img src="/img/dados.webp" alt="Imagen de dados" width="200", height="200">
            </div>
        </div>
        </div>
      </div>
      <footer th:insert="~{/fragments/footer :: footer}"></footer>
      <div th:replace="~{/fragments/scripts :: scripts}"></div>
  </body>
</html>