<div th:fragment="card-autor(autor)">
    <div class="card mb-3 w-75 ms-auto me-auto">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/default.webp" class="img-fluid rounded-start" alt="Imagen de perfil">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" th:text="${autor.nombre}">Card title</h5>
                    <p class="card-text" th:text="${autor.descripcion}">This is a wider card with supporting text below
                        as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>

    </div>
</div>